<!DOCTYPE html>
<html lang="en" class="no-js">
		{{{ my-modern-head }}}
  <body ontouchstart="">
    {{{ my-modern-header }}}
				<div id="main" role="main">
						<div class="container">
								<h1 class="h1">Form-search</h1><hr />
						</div>
						{{{ example-form-search }}}
  </div>
    {{{ my-modern-footer }}}
    <script src="assets/js/modern-footer.min.js"></script>
  </body>
</html>