<!DOCTYPE html>
<html lang="en" class="no-js">
  {{{ my-modern-head }}}
  <body ontouchstart="">
    {{{ my-modern-header }}}
    <div id="main" role="main">
      <div class="container">
	<h1 class="h1">Welcome to the Modern Web Framework</h1><hr />
	<div class="pages">
	  <a href="/form-search.html">Search Component</a>
	</div>
      </div>			
  </div>
    {{{ my-modern-footer }}}
    <script src="assets/js/modern-footer.min.js"></script>
  </body>
</html>
