<!DOCTYPE html>
<html lang="en" class="no-js">
		{{{ my-modern-head }}}
  <body ontouchstart="">
    {{{ my-modern-header }}}
				<div id="main" role="main">
						<div class="container">
								<h1 class="h1">ReactJS Page</h1><hr />
						</div>
						{{{ example-reactJS-page }}}
  </div>
    {{{ my-modern-footer }}}
  </body>
</html>